{% load static i18n gravatar %}{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <link rel="stylesheet/less" type="text/css" href="{{STATIC_PREFIX}}/less/style.less" />

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lilita+One' >

    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/less-1.1.3.min.js"></script>
  
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_PREFIX }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_PREFIX }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_PREFIX }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_PREFIX }}bootstrap/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
    <div class="navbar navbar-inverse">

    </div>

    <div class="container-fluid wrapper">
        {% block content %}{% endblock %}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_PREFIX }}js/libs/jquery-1.7.min.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
